<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- Propiedades de Conexion -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/bd_epicentro_gourmet_grupo_nueve?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <!-- Dialecto MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Configuracion de Consola -->
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Registro de Mapeos -->
        <mapping resource="mapeos/Festival.hbm.xml"/>
        <mapping resource="mapeos/Plato.hbm.xml"/>
        <mapping resource="mapeos/Empleado.hbm.xml"/>
        <mapping resource="mapeos/UnidadVenta.hbm.xml"/>
        <mapping resource="mapeos/Item.hbm.xml"/>
        <mapping resource="mapeos/Pedido.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
